body {
  background-color: #d2d79f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

h1 {
  display: block;
  padding: 20px;
  color: #483838;
  text-align: center;
  /* border: 3px solid #483838; */
  border-radius: 5px;
  /* background-color: #42855B; */
  color: #483838;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #483838;
  font-size: 20px;
  border-radius: 5px;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid #D2D79F;
}

.topnav-item {
  display: block;
  color: #90b77d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.tree, .title) {
  background-color: #90b77d;
  color: #483838;
}

.title {
  background-color: #42855B;
  color: #483838;
  font-weight: bold;
}

.push {
  float: right;
  border-right: none;
  border-left: 1px solid #D2D79F;
}

.info-log, .flash {
  position: absolute;
  right: 10px;
  margin-top: 8px;
  color: #483838;
  font-size: 20px;
}

.form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.warning {
  color: #42855B;
  font-weight: normal;
}

.flash {
  right: auto;
  left: 10px;
}

.get-db {
  position: relative;
  top: 150px;
  display: flex;
}

.db-data {
  right: 10px;
  text-align: left;
}

ul {
  margin-top: 0px;
}

.post {
  background-color: #90b77d;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  text-align: left;
  color: #483838;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}

.post a {
  /* text-decoration: none; */
  color: #483838;
}

.post-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  align-items: flex-start;
  margin-left: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

img {
  width: (100% - 40px);
  border-radius: 5px;
  margin: 10px;
}

h3 {
  font-weight: normal;
}

.editing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}