body {
    background-color: oldlace
}

h1 {
    text-align: center;
    background-color: aquamarine;
    color: midnightblue;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
}

hr {
    border: 5px grey;
    border-style: dotted none none;
    width: 50%;
    margin-top: 50px
}