{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
    <h2>{{ movies|length }} movies found</h2>
    {% for movie in movies %}
  <p>
    <a href="{{ url_for('add_movie_from_api', id=movie.id) }}"> <h3>{{ movie.original_title }}</h3>{{ movie.release_date }} (Popularity : {{ movie.popularity }})</a>
  </p>
  {% endfor %}
</div>
{% endblock %}